<!DOCTYPE html>
<html>
  <head>
    <title>pagina de produtos</title>
  </head>
  <body>
    <h1>Produtos</h1>
    <a href="/About">Acessar Sobre</a>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Circle-icons-profile.svg/512px-Circle-icons-profile.svg.png" 
    height='200px'
    width='auto'

    alt="imagem de perfil" 
    />
    
    <p>
      Meu nome é: <strong>Vitor</strong>
      <br>
      Idade: <strong>28</strong>
      <br>
      Estado civil: <strong>Solteiro</strong>
    </p>
    <h3>Qualidades</h3>
    <ul>
      <li>transador</li>
      <li>designer</li>
    </ul>
     
      <ol>
      <li>amável</li>
      <li>gay</li>
      </ol>
  </body>
</html>